# Arquivos compilados do Java
*.class
*.log
*.jar
*.war
*.ear
bin/
target/

# Configurações do VS Code
.vscode/

# Configurações do IntelliJ IDEA
.idea/
*.iml
*.iws

# Configurações do Eclipse
.metadata/
.classpath
.project
.settings/

# Arquivos do sistema operacional
Thumbs.db
.DS_Store